{% extends 'layout.html' %}
{% block body %}
<div class="hostel-container">
    <div class="pad2-20">
        <div class="content-container">
            <div class="d-flex">
                <div class="lft-mnu">
                    <div class="dfl">
                        <div class="head">
                            <p>
                                IMPORTANT LINKS
                            </p>
                        </div>
                        <div class="links">
                            <div class="link-content">
                                <li class="m-10-5 no"><a href="">TIME TABLE</a></li>
                                <li class="m-10-5"><a href="">LIBRARY</a></li>
                                <li class="m-10-5"><a href="">SPORTS</a></li>
                                <li class="m-10-5"><a href="">HOSTEL</a></li>
                                <li class="m-10-5"><a href="">LABORATRIES</a></li>
                                <li class="m-10-5"><a href="">TRAINING & PLACEMENT CENTER</a></li>
                                <li class="m-10-5"><a href="">CULTURAL ACTIVITIES</a></li>
                                <li class="m-10-5"><a href="">NCC</a></li>
                                <li class="m-10-5"><a href="">NCWEB</a></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rgt-mnu">
                    <div class="dfl">
                        <div class="head">
                            <p>
                                Vidyottama Girls' Hostel
                            </p>
                        </div>
                        <div class="detail">
                            <div class="main-detail">
                                <div class="solid-link">
                                    <div class="link-content">
                                        <li class="m-10-5">
                                            <a href="">5th Round for Hostel Vacancies<img class="NEW"
                                                    src="static/images/NEW-GIF.gif" alt=""></a>
                                        </li>
                                        <li class="m-10-5">
                                            <a href="">Fourth Round for Hostel Vacancies</a>
                                        </li>
                                        <li class="m-10-5">
                                            <a href="">Third Round for Hostel Vacancies</a>
                                        </li>
                                        <li class="m-10-5">
                                            <a href="">Application invite vacancies for hostel</a>
                                        </li>
                                        <li class="m-10-5">
                                            <a href="">List of selected applicants for Vacancies in hostel</a>
                                        </li>
                                        <li class="m-10-5">
                                            <a href="">List of selected applicants for Vacancies in hostel</a>
                                        </li>
                                        <li class="m-10-5">
                                            <a href="">Notice: Applications for Vacancies in Hostel <span
                                                    class="no-bold">Click here for online form</span></a>
                                        </li>
                                        <li class="m-10-5">
                                            <a href="">Application Form</a>
                                        </li>
                                    </div>
                                </div>
                                <div class="links mt-20">
                                    <div class="link-content">
                                        <li class="m-10-5 no"><a href="">Interaction on 14th may for 2nd year
                                                students</a></li>
                                        <li class="m-10-5"><a href="">Interaction and reopening of the hostel
                                                May 2022</a></li>
                                        <li class="m-10-5"><a href="">Notice regarding reopening of the
                                                hostel</a></li>
                                        <li class="m-10-5"><a href="">Hostel Admission 2021-22</a></li>
                                        <li class="m-10-5"><a href="">Hostel Admission 2020-21</a></li>
                                    </div>
                                </div>
                                <div class="about">
                                    <div class="justify">
                                        <p>
                                            In any institution, a residential accommodation for students,
                                            especially girls, is always an asset. 'Vidyottama' the Girls' Hostel
                                            of Maharaja Agrasen College can accommodate around fifty eight (58)
                                            students on its three floors and has separate areas for dining and
                                            common room on the ground floor. Besides, a pantry has been provided
                                            on each floor. The hostel is fitted with several amenities like
                                            television, washing machine, water heaters, ironing facilities,
                                            electric stove etc. The hostel is Wi-Fi enabled and computers are
                                            available for the use of the residents.
                                        </p>
                                        <br>
                                        <br>
                                        <p>
                                            Admissions to the hostel take place strictly on the basis of merit.
                                            Interested outstation girl students should keep visiting college
                                            website www.mac.du.ac.in for information regarding admission to the
                                            hostel and other queries.
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex jccs">
                                    <div class="bd-05">
                                        <div class="collage-photo">
                                            <img src="static/images/Hostel.png" alt="">
                                        </div>
                                    </div>
                                    <div class="bd-05">
                                        <div class="collage-photo">
                                            <img src="static/images/hostel2.jpeg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock  %} 