{% extends 'layout.html' %}
{% block body %}
        <div class="pt-34">
            <div class="a00vw">
                <div class="item hid">
                    <img src="static/images/pic_1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="static/images/pic_2.jpg" alt="">
                </div>
                <div class="item">
                    <img src="static/images/2pic_3.jpg" alt="">
                </div>
                <div class="item">
                    <img src="static/images/pic_4.jpg" alt="">
                </div>
                <div class="item">
                    <img src="static/images/pic_5.jpg" alt="">
                </div>
                <div class="item">
                    <img src="static/images/pic_6.jpg" alt="">
                </div>
                <div class="item">
                    <img src="static/images/pic_9.jpg" alt="">
                </div>
                <div class="item">
                    <img src="static/images/pic_10.jpg" alt="">
                </div>
                <div class="item">
                    <img src="static/images/pic_7.jpg" alt="">
                </div>
                <div class="item">
                    <img src="static/images/pic_8.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="informaton">
            <div class="pd-10">
                <div class="mac-info">
                    <div class="pd-20">
                        <div class="lh-20px">
                            <h2>Maharaja agrasen college</h2>
                            <p style="margin-bottom:10px;">{{ name}} <a href="/logout">Log Out</a>!
                                Maharaja Agrasen College, established in 1994 as a constituent college ofthe University
                                of Delhi has a story to tell...a success story. In the life span of an educational
                                institution, twenty years may be just a tiny ray in the vast spectrum, but for Maharaja
                                Agrasen College, the last two decades have been truly constructive, much like the
                                building blocks. The blocks have been reconfigured time and again from simple structures
                                to more comprehensive ones, in tandem with the emerging paradigms of the techno-savvy
                                world of today. In August 1994, as a constituent college of the University of Delhi, the
                                college was tentatively named Co-Educational College, later to be rechristened as
                                Maharaja Agrasen College, after a great Indian ruler. Catering to the educational
                                demands of the thickly populated East , the College is today attracting the student
                                intelligentsia from various parts of Delhi, particularly the South and East Delhi areas.
                            </p>
                            <p style="margin-bottom:10px;">
                                'Tell me and I forget. Teach me and I remember. Involve me and I Learn.' These words
                                seem to be the echo that resounds in every page of MAC. The veracity of this saying is
                                nowhere better illustrated than in the classrooms of MAC because they are
                                learner-centric. The thrust has always been on two-way communication: a process of
                                building partnerships between the learner and the learned. It can be said that learning
                                is no longer sacrosanct to be monasticated in a sanctuary of classrooms and library. It
                                spills over in the lawns, on the stage and in playgrounds. In fact MAC can boast of
                                'classrooms without walls' as learning happens on field-based innovative research
                                projects, adoption of villages such as Baroji and educational trips. Participation of
                                the students in the extension activities of the college with vigour and enthusiasm has
                                led to strong bonds between the residents of Baroji in Mewat District of Haryana; and
                                the experiential Learning through The Leadership Development Program, an initiative of
                                the NSS in the college has helped students work towards the upliftment of localities in
                                the vicinity
                            </p>
                            <div class="read">
                                <span>
                                    <a href="">Read more</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mac-ad">
                    <div class="pd-30">
                        <div class="announcement">
                            <div class="its it" style="background-color:#003266;">
                                <div class="text">Announcement</div>
                            </div>
                            <div class="its">
                                <div class="text">Events</div>
                            </div>
                            <div class="its">
                                <div class="text">Students</div>
                            </div>
                            <div class="its">
                                <div class="text">Staff</div>
                            </div>
                        </div>
                        <div class="marq">
                            <div class="bd-gr">
                                <div class="annouce-list" style="padding: 20px;">
                                    <marquee behavior="scroll" direction="up" class="up-sight" scrolldelay="400"
                                        height="350px">

                                        <li class="mar-20">
                                            <a href="{{para['img_url']}}" class="ft-14">
                                                <strong>
                                                    Advertisement for Walk in Interview for the Post of Research
                                                    Assistant and Research Associate under ICSSR Projects
                                                </strong>
                                            </a>
                                        </li>

                                        <li class="mar-20">
                                            <a href="" class="ft-14">
                                                <strong>
                                                    NOTICE:- AZADI KA AMRIT MAHATSAV " HAR GHAR TIRANGA" </strong>
                                            </a>
                                        </li>
                                        <li class="mar-20">
                                            <a href="" class="ft-14">
                                                Notice regarding online classes
                                            </a>
                                        </li>
                                        <li class="mar-20">
                                            <a href="" class="ft-14">
                                                5 Aug Evening Seating Plan For Regular Students
                                            </a>
                                        </li>
                                        <li class="mar-20">
                                            <a href="" class="ft-14">
                                                Office Order
                                            </a>
                                        </li>
                                        <li class="mar-20">
                                            <a href="" class="ft-14">
                                                Time Table
                                            </a>
                                        </li>
                                        <li class="mar-20">
                                            <a href="" class="ft-14">
                                                Notice for Applicants the post of Principal
                                            </a>
                                        </li>
                                        <li class="mar-20">
                                            <a href="" class="ft-14">
                                                Office Order regarding Offline Classes
                                            </a>
                                        </li>
                                        <li class="mar-20">
                                            <a href="" class="ft-14">
                                                Notice for 2nd Semester Students Regarding upcoming Online Classes
                                            </a>
                                        </li>
                                        <li class="mar-20">
                                            <a href="" class="ft-14">
                                                Interaction on 14 May 2022 for 2nd year students
                                                <br>
                                                <img src="images/NEW-GIF.gif" alt="" width="50px">
                                            </a>
                                        </li>
                                        <li class="mar-20">
                                            <a href="" class="ft-14">
                                                Interaction and reopening of the hostel May 2022
                                            </a>
                                        </li>
                                        <li class="mar-20">
                                            <a href="" class="ft-14">
                                                Corrigendum for the post of Principal </a>
                                        </li>

                                    </marquee>
                                    <div class="cl-ora">
                                        <div class="lin">
                                            <a href="">
                                                View all
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer1">
            <div class="row1">
                <div class="foot-1">
                    <a href="">
                        <div class="foot-1val">
                            ADDMISSION 2021
                        </div>
                    </a>
                </div>
                <div class="foot-1">
                    <a href="">
                        <div class="foot-1val">
                            LEARNING CENTERS
                        </div>
                    </a>
                </div>
                <div class="foot-1">
                    <a href="">
                        <div class="foot-1val">
                            NIRF
                        </div>
                    </a>
                </div>
                <div class="foot-1">
                    <a href="">
                        <div class="foot-1val">
                            IQAC
                        </div>
                    </a>
                </div>
            </div>
            <div class="row1">
                <div class="foot-1">
                    <a href="">
                        <div class="foot-1val">
                            HOSTEL
                        </div>
                    </a>
                </div>
                <div class="foot-1">
                    <a href="">
                        <div class="foot-1val">
                            TIME TABLE
                        </div>
                    </a>
                </div>
                <div class="foot-1">
                    <a href="">
                        <div class="foot-1val">
                            GRIEVANCE
                        </div>
                    </a>
                </div>
                <div class="foot-1">
                    <a href="">
                        <div class="foot-1val">
                            GOOD PRACTICES
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="mtb-4re">
                <div class="gallery">
                    <div class="pd">
                        <h1>
                            Gallery
                        </h1>
                    </div>
                </div>
                <div class="pad-20">
                    <div class="gallery-item">
                        <div class="g-ite">
                            <a href="">
                                <div class="bd-5">
                                    <div class="pic">
                                        <img src="static/images/photo-gallery.jpg" alt="">
                                    </div>
                                    <div class="caption">
                                        <span>
                                            Photo Gallery
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="g-ite">
                            <a href="">
                                <div class="bd-5">
                                    <div class="pic">

                                        <iframe class="youtube" src="https://www.youtube.com/embed/H_f05h5KDOo"
                                            frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="caption">
                                        <span>
                                            Videos Gallery
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="g-ite">
                            <a href="">
                                <div class="bd-5">
                                    <div class="pic">
                                        <img src="static/images/publication.jpg" alt="">
                                    </div>
                                    <div class="caption">
                                        <span>
                                            College Publication
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%endblock%}