<!DOCTYPE html>
<html>

    <head>
        <title>My name is khan</title>
        <script src="https://kit.fontawesome.com/74c8a167f2.js" crossorigin="anonymous"></script>
    </head>
   <body>
      <form action = "http://localhost:5000/login" method = "post">
         <p>Enter Name:<i class="fa-brands fa-twitter"></i></p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
         <p><button name="Show">Click me</button></p>
         {% for name in names: %}
        <li>{{ name }}</li>
	      {% endfor %}
      </form>   
   </body>
</html>